.game-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // Trois colonnes
    gap: 20px; // Espace entre les cartes
    padding: 20px;
    max-width: 1200px; // Largeur totale maximale
    margin: 0 auto; // Centrer la grille horizontalement
}



.game-card {
    background-color: #333; // Fond gris foncé
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Effet de profondeur
    width: 100%; // Prendre toute la largeur de la colonne

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

    .game-image {
        width: 100%;
        height: 150px; // Hauteur fixe pour toutes les images
        object-fit: cover; // Remplir l'espace tout en conservant les proportions
    }

    .game-details {
        padding: 10px 15px; // Ajouter de l'espace à l'intérieur de la carte
        text-align: left;

        .game-title {
            font-size: 1.1em;
            font-weight: bold;
            margin-bottom: 5px;
            color: #f1f1f1; // Couleur du titre légèrement plus claire
        }

        .game-platform {
            font-size: 0.9em;
            opacity: 0.8;
            display: flex;
            gap: 5px;
            flex-wrap: wrap; // Permettre l'affichage sur plusieurs lignes si nécessaire
        }
    }
}


.show-more {
    display: block;
    margin: 30px auto; // Centrer le bouton
    background-color: #e50914;
    color: white;
    border: none;
    padding: 12px 40px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
        background-color: #b10610;
    }
}