// Variables
$background-color: #1b1b1b;
$text-color: #fff;
$primary-color: #e50914;
$card-background: #333;
$border-radius: 8px;


body {
    background-color: $background-color;
    color: $text-color;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: left;
    padding: 20px;

    h1 {
        font-size: 5rem;
        color: $primary-color;
        margin-bottom: 10px;
    }

    p {
        max-width: 1000px;
        margin: 0 auto;
        line-height: 1.5;
    }

    #search-bar {
        margin-top: 20px;
        padding: 10px;
        width: 300px;
        border-radius: $border-radius;
        border: none;
        background: darken($card-background, 10%);
        color: $text-color;
        font-size: 1rem;
    }
}


footer {
    text-align: center;
    padding: 10px 0;
    background-color: darken($background-color, 10%);
    color: $text-color;
    font-size: 0.9rem;
    position: relative;
    bottom: 0;
    width: 100%;
}
